@import "/bower_components/bootstrap/less/bootstrap";
@import "/bower_components/toastr/toastr";
@import "/bower_components/bootstrap-select/less/bootstrap-select";
@import "colors";

@import "/modules/User/Resources/assets/less/user";
@import "/modules/Blog/Resources/assets/less/blog";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}