// vendor imports
@import "bower_components/bootstrap/less/bootstrap";
@import "bower_components/bootstrap-select/less/bootstrap-select";
@import "bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput";
@import "bower_components/font-awesome/less/font-awesome";
@import "bower_components/toastr/toastr";
@import (inline) "bower_components/emojify.js/dist/css/sprites/emojify.css";
@import (inline) "bower_components/emojify.js/dist/css/sprites/emojify-emoticons.css";

// app imports
@import "colors";

// module imports
@import "modules/User/Resources/assets/less/user";
@import "modules/Blog/Resources/assets/less/blog";
@import "modules/Message/Resources/assets/less/message";
@import "modules/Chartrans/Resources/assets/less/chartrans";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}
